workflows/3G3Egt5lTpofY0UA.json
{
  "active": true,
  "connections": {
    "Data retrieval": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-Facebook-Published": {
      "main": [
        [
          {
            "node": "Execute Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-X-published": {
      "main": [
        [
          {
            "node": "Execute Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-Telegram-Publish": {
      "main": [
        [
          {
            "node": "Execute Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-LinkedIn-Publish": {
      "main": [
        [
          {
            "node": "Execute LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[VBI]": {
      "main": [
        [
          {
            "node": "VBI DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VBI DB": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Data retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Check-Facebook-Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Check-X-published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Check-Telegram-Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Check-LinkedIn-Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-24T09:46:28.546Z",
  "id": "3G3Egt5lTpofY0UA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[VBI] Manager Social",
  "nodes": [
    {
      "parameters": {},
      "id": "c22ddcad-ac29-426b-84f3-7d1d5447bc02",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        140,
        -20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91970981-c1f2-46ad-b39d-19adb5306e38",
              "name": "db_content",
              "value": "={{ $json['Nội dung'] }}",
              "type": "string"
            },
            {
              "id": "b8432743-6371-4622-a1c6-e53093229cbc",
              "name": "db_platform",
              "value": "={{ $json['Nền tảng'] }}",
              "type": "string"
            },
            {
              "id": "cfe10209-045a-4cf7-97fa-1f8a3a7cbbe9",
              "name": "db_facebook_status",
              "value": "={{ $json['Trạng thái facebook'] }}",
              "type": "string"
            },
            {
              "id": "680a068c-a4f8-4772-bbcd-8023d3518c87",
              "name": "db_postTime",
              "value": "={{ $json['Lịch đăng'] }}",
              "type": "string"
            },
            {
              "id": "5ab22669-9685-4fe3-b96d-c47ae9eaa514",
              "name": "db_owner",
              "value": "={{ $json['Người thực hiện'] }}",
              "type": "string"
            },
            {
              "id": "f9650d65-f326-4855-96fc-366978502b83",
              "name": "db_imageLink",
              "value": "={{ $json['Hình ảnh'] }}",
              "type": "string"
            },
            {
              "id": "41533d95-3e53-4d8b-b084-807c778a7311",
              "name": "db_postLink_facbook",
              "value": "={{ $json['Link bài viết facebook'] }}",
              "type": "string"
            },
            {
              "id": "66efe570-33d1-4847-82d7-f21078160f25",
              "name": "db_totalReact",
              "value": "={{ $json['Lượt tương tác'] }}",
              "type": "string"
            },
            {
              "id": "fd71fe1f-f7cd-4b41-858e-5605d9dff21f",
              "name": "db_priority",
              "value": "={{ $json['Độ ưu tiên'] }}",
              "type": "string"
            },
            {
              "id": "ee06355c-be50-4ca4-9a6a-e865c3cf4f3c",
              "name": "db_row",
              "value": "={{ $json.row_number }}",
              "type": "string"
            },
            {
              "id": "a50768ef-0030-4450-8969-7d64899bcdf2",
              "name": "db_check",
              "value": "={{ $json['Đăng bài'] }}",
              "type": "string"
            },
            {
              "id": "c0875dc4-604a-4b99-8037-ea0669226cdd",
              "name": "formatPostime",
              "value": "={{ DateTime.fromFormat($json[\"Lịch đăng\"], \"dd/MM/yyyy H:mm:ss\").toISO(); }}",
              "type": "string"
            },
            {
              "id": "24e3be39-772b-4f16-ae6d-878910a47577",
              "name": "db_linkedIn_status",
              "value": "={{ $json['Trạng thái linkedIn'] }}",
              "type": "string"
            },
            {
              "id": "501eacab-edcf-47d7-8ebd-0732592fcc45",
              "name": "db_twitter_status",
              "value": "={{ $json['Trạng thái twitter'] }}",
              "type": "string"
            },
            {
              "id": "5bcd24d4-e8eb-4ad5-96b5-7b129769c44d",
              "name": "db_telegram_status",
              "value": "={{ $json['Trạng thái telegram'] }}",
              "type": "string"
            },
            {
              "id": "bcf89b36-f2dc-4e62-8f7a-a58ba5d9962c",
              "name": "db_sheet_link",
              "value": "={{ $json.Db_link }}",
              "type": "string"
            },
            {
              "id": "06cc3aba-8f0a-4fa9-9da6-ea3863ef6fd9",
              "name": "db_fanpage_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6720d11f-97db-4857-8d20-21a8caf8222a",
              "name": "db_postLink_linkedIn",
              "value": "={{ $json['Trạng thái linkedIn'] }}",
              "type": "string"
            },
            {
              "id": "e6f0852b-faba-4a28-824d-cfd2fff21d6a",
              "name": "db_postLink_twitter",
              "value": "={{ $json['Trạng thái twitter'] }}",
              "type": "string"
            },
            {
              "id": "22521c59-ae90-4654-818f-a4115a4608cc",
              "name": "db_postLink_telegram",
              "value": "={{ $json['Trạng thái telegram'] }}",
              "type": "string"
            },
            {
              "id": "d866dd7e-922b-4bcf-9fed-149f3da0a783",
              "name": "db_sheet_id",
              "value": "={{ $json.sheet_id }}",
              "type": "string"
            },
            {
              "id": "cb2a587b-87cb-43d4-9dd2-24bbbc546d4b",
              "name": "fb_access_token",
              "value": "={{ $json.fb_access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        460
      ],
      "id": "58dd0e3f-fcce-41c0-8f38-d95ea83c6587",
      "name": "Data retrieval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8628963d-8340-4568-a3d8-e5a1719bd1f9",
              "leftValue": "={{ $json.db_twitter_status }}",
              "rightValue": "Mới",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "bd8e0353-8720-421c-89b8-fa357aa57ba7",
      "name": "Check-X-published",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8628963d-8340-4568-a3d8-e5a1719bd1f9",
              "leftValue": "={{ $json.db_facebook_status }}",
              "rightValue": "Mới",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d1d27de3-c847-4dbb-84ea-c5c448f4d3e1",
      "name": "Check-Facebook-Published",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZnlgAzM2CgC9AyGD",
          "mode": "list",
          "cachedResultName": "Execute Facebook"
        },
        "mode": "each",
        "options": {}
      },
      "id": "d7ce8721-341c-4b59-a9d2-2fd7a277cbcd",
      "name": "Execute Facebook",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1760,
        -100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ds82TPFexO9r9oev",
          "mode": "list",
          "cachedResultName": "Excute-Twitter(x)"
        },
        "mode": "each",
        "options": {}
      },
      "id": "ee593cec-2161-4572-9fab-2d79f476394d",
      "name": "Execute Twitter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1760,
        120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BTRzC5ntRYhBPJeD",
          "mode": "list",
          "cachedResultName": "Execute-Telegram"
        },
        "mode": "each",
        "options": {}
      },
      "id": "c30e7928-d602-493f-8979-1bfbf93bd9f4",
      "name": "Execute Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1760,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8628963d-8340-4568-a3d8-e5a1719bd1f9",
              "leftValue": "={{ $json.db_telegram_status }}",
              "rightValue": "Mới",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e2e27324-2b10-46c1-899d-00f8e02d7a42",
      "name": "Check-Telegram-Publish",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8628963d-8340-4568-a3d8-e5a1719bd1f9",
              "leftValue": "={{ $json.db_linkedIn_status }}",
              "rightValue": "Mới",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "84212db9-46e2-4628-a1d7-0ab6a615951a",
      "name": "Check-LinkedIn-Publish",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aB9lh4Od8UiBgXIS",
          "mode": "list",
          "cachedResultName": "Execute-LinkedIn"
        },
        "mode": "each",
        "options": {}
      },
      "id": "c039a67b-942f-4c1c-a7f8-a317edeb5376",
      "name": "Execute LinkedIn",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1760,
        480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "62b41b72-749f-4832-9f98-736addaf8319",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        140,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lấy giá trị formatPostime và thời gian hiện tại\nconst inputDateString = $json['Lịch đăng'];\n\n// Chuyển đổi từ định dạng dd/MM/yyyy thành MM/dd/yyyy\nconst dateParts = inputDateString.split(\" \")[0].split(\"/\"); // Tách phần ngày (18/04/2025)\nconst timePart = inputDateString.split(\" \")[1]; // Lấy phần giờ (00:00:00)\n\n// Đổi vị trí ngày và tháng, chuyển thành MM/dd/yyyy\nconst formattedDate = `${dateParts[1]}/${dateParts[0]}/${dateParts[2]} ${timePart}`;\n\n\nconst dateVN = new Date(formattedDate);\n\n// Lấy thời gian hiện tại (UTC)\nconst currentTime = new Date();\n\n// Chuyển đổi thời gian hiện tại sang múi giờ Việt Nam (UTC +7)\nconst currentTimeVN = new Date(currentTime.getTime() + (7 * 60 * 60 * 1000)); // Cộng thêm 7 giờ\n\n// Tính toán sự khác biệt giữa thời gian hiện tại và formatPostime\nconst timeDifference = dateVN - currentTimeVN;\n// console.log(\"currentTimeVN: \", currentTimeVN)\n// console.log(\"dateVN: \", dateVN)\n// console.log(\"timeDifference: \", timeDifference)\n// console.log(\"\\n ====== \\n\")\n\n  \n// Kiểm tra nếu sự khác biệt nhỏ hơn hoặc bằng 5 phút (5 phút = 300000 milliseconds)\nif (timeDifference <= 300000 && timeDifference >= 0) {\n    // Nếu điều kiện thỏa mãn, tiếp tục chạy flow\n  for (const item of $input.all()) {\n    item.json.proceed = true;\n  }\n  return $input.all();\n} else {\n    // Nếu không, dừng flow\n  for (const item of $input.all()) {\n    item.json.proceed = false;\n  }\n  return $input.all();\n}"
      },
      "id": "6ac29160-ab90-4a4a-aa73-941f4874c0b9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        820
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e559a5db-c746-4c3f-b09a-592f80b00e2c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        260,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c5973dc-43f4-4220-8c3a-cd9b574fb71f",
              "leftValue": "={{ $json.proceed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "0f4df780-e063-4d55-9b21-5c0dc67221cf",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        820
      ]
    },
    {
      "parameters": {
        "content": "# Check: kiểm tra thời gian đăng bài\n",
        "height": 386.1324449230852,
        "width": 828.295798477547,
        "color": 4
      },
      "id": "01ca4afd-69d8-43e2-9d31-67dc5cb32e84",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo",
          "mode": "list",
          "cachedResultName": "[VBI] - Social Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Đăng bài",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "a6c551c9-f445-42ea-af35-c728d4db66fc",
      "name": "VBI DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3G3Egt5lTpofY0UA",
          "mode": "list",
          "cachedResultName": "[VBI] Manager Social"
        },
        "mode": "each",
        "options": {}
      },
      "id": "17f28ae6-bdff-4f6b-b3e5-66e1873fc113",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        380,
        60
      ]
    },
    {
      "parameters": {},
      "id": "a5de532c-0df5-4597-800f-ba7f0894081c",
      "name": "[VBI]",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        20,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Luồng đăng facebook\n## [Link Workflow](https://pip-tf-automation.southeastasia.cloudapp.azure.com/workflow/ZnlgAzM2CgC9AyGD)",
        "height": 169.64698495251852,
        "width": 1213.853913959688,
        "color": 5
      },
      "id": "26567736-827f-4f81-b33f-130827444729",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        -120
      ]
    },
    {
      "parameters": {
        "content": "## Twitter(X)\n## [Link Workflow](https://pip-tf-automation.southeastasia.cloudapp.azure.com/workflow/ds82TPFexO9r9oev)",
        "height": 177.27139596216406,
        "width": 1213.853913959688,
        "color": 7
      },
      "id": "0adbe730-c57d-408e-9f08-664c80f96eb5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Lấy dữ liệu và chuẩn bị dữ liệu cho các flow nếu thoả điều kiện",
        "height": 259.6256176685447,
        "width": 833.3143593451888,
        "color": 2
      },
      "id": "c903407e-84f8-498c-9801-be077cf74f21",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        360
      ]
    },
    {
      "parameters": {
        "content": "## Luồng đăng telegram\n## [Link Workflow](https://pip-tf-automation.southeastasia.cloudapp.azure.com/workflow/BTRzC5ntRYhBPJeD)",
        "width": 1213.853913959688,
        "color": 6
      },
      "id": "b818a3c5-0411-437f-9aac-18eacdd97eef",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Luồng đăng LinkedIn\n## [Link Workflow](https://pip-tf-automation.southeastasia.cloudapp.azure.com/workflow/aB9lh4Od8UiBgXIS)",
        "width": 1213.853913959688,
        "color": 4
      },
      "id": "12ec1151-c87c-4faf-9e99-1a354212d714",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Set dữ liệu Fanpage\n- id, accessToken, link sheet cho từng page",
        "height": 459.9199132879962,
        "width": 833.3143593451888,
        "color": 2
      },
      "id": "59532e20-aa4b-4d97-be05-d4535bcef15c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        -120
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "8fa125a6-e299-4a4d-b208-804e8215a1cc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        680,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e43ce6e-b46a-4afc-b043-0bbabdc40d22",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "Facebook",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1d4f6006-aae4-4e61-9862-213afd31c78d",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "Tất cả",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "cd56a155-81b0-45cd-99ee-9d3616723ffb",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e43ce6e-b46a-4afc-b043-0bbabdc40d22",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "Twitter",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1d4f6006-aae4-4e61-9862-213afd31c78d",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "Tất cả",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "f767aae5-c41c-45d4-8a85-8ececef0bea4",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1200,
        120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e43ce6e-b46a-4afc-b043-0bbabdc40d22",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "Telegram",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1d4f6006-aae4-4e61-9862-213afd31c78d",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "Tất cả",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "164f90ff-4162-4dce-9108-ab2552451d9d",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1200,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e43ce6e-b46a-4afc-b043-0bbabdc40d22",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "LinkedIn",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1d4f6006-aae4-4e61-9862-213afd31c78d",
              "leftValue": "={{ $json.db_platform }}",
              "rightValue": "Tất cả",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "bfc2375e-afa5-4cd8-ba27-5f063035dec8",
      "name": "Filter3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1200,
        480
      ],
      "disabled": true
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "id": "278422248681530",
          "name": "OpenEdu",
          "sheet_id": "1956435897",
          "fb_access_token": "EAAICtjCZApBkBO3FRZCuNfKDGwSlYDyq43KEZAVTfhe0PgZCP50m6U5ZC9TT4AbL2yajN2CDKNWKBDA7bbaqBRGg2Xczm2H511wTAAExBTqoUmnSlzU78ZCIk9CXVcePaM22LyLitpv6cylU0TNav6LKxYHZCqK8fWxEE8KxV4faE1XkIh5NpluWoHjGyttOiFE8YLV9EXa2n3SkOXtAjyxbpBZADfmuZAc40z19MD2gZD",
          "Db_link": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?gid=1956435897#gid=1956435897"
        }
      },
      {
        "json": {
          "id": "104084305892365",
          "name": "VBI Academy",
          "sheet_id": "2087435140",
          "fb_access_token": "EAAICtjCZApBkBO01karTzr0oHnsUgwBwdZBWJ957Xa0qUca0SFJMuKJICYsWkcdaVYep3BDSb0Cp1OKQaEzvDY7dUb1vw1PohY2lG9L8cRlUOox2Getr4ZC0dZAUufrigwCJc4KOFOx699QSPPaBdVqZBj1UDbRvdtT2a5YW7xtQ5im3mZAiAFBh4ZAdjlEHHQIRC9wSpMTeog9KDzIKbKzkdSj87hcBiRUToYsANoZD",
          "Db_link": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?gid=2087435140#gid=2087435140"
        }
      },
      {
        "json": {
          "id": "137851026084879",
          "name": "The France.",
          "sheet_id": "0",
          "fb_access_token": "EAAICtjCZApBkBO0nuo5C5H7ZBxBpg1amcJGeXD5VZADDesBe32HpwK5gsx8rrlIZAORoAP9vbNupv4uoPOZBhdXwM6jxxpyXpZABznaNFmJZB8E1RcgOuKT7CyxBQZBZB84mx78rdSZC7ZCdklKVKzYPGFOz9BncghrRNwcMiUYNU3On61HNfsGj1fwdrs2y0kDH6ebBAkSNBIJHKFx6U0ZD",
          "Db_link": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?gid=0#gid=0"
        }
      }
    ],
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "id": "278422248681530",
          "name": "OpenEdu",
          "sheet_id": "1956435897",
          "fb_access_token": "EAAICtjCZApBkBO3FRZCuNfKDGwSlYDyq43KEZAVTfhe0PgZCP50m6U5ZC9TT4AbL2yajN2CDKNWKBDA7bbaqBRGg2Xczm2H511wTAAExBTqoUmnSlzU78ZCIk9CXVcePaM22LyLitpv6cylU0TNav6LKxYHZCqK8fWxEE8KxV4faE1XkIh5NpluWoHjGyttOiFE8YLV9EXa2n3SkOXtAjyxbpBZADfmuZAc40z19MD2gZD",
          "Db_link": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?gid=1956435897#gid=1956435897"
        }
      },
      {
        "json": {
          "id": "104084305892365",
          "name": "VBI Academy",
          "sheet_id": "2087435140",
          "fb_access_token": "EAAICtjCZApBkBO01karTzr0oHnsUgwBwdZBWJ957Xa0qUca0SFJMuKJICYsWkcdaVYep3BDSb0Cp1OKQaEzvDY7dUb1vw1PohY2lG9L8cRlUOox2Getr4ZC0dZAUufrigwCJc4KOFOx699QSPPaBdVqZBj1UDbRvdtT2a5YW7xtQ5im3mZAiAFBh4ZAdjlEHHQIRC9wSpMTeog9KDzIKbKzkdSj87hcBiRUToYsANoZD",
          "Db_link": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?gid=2087435140#gid=2087435140"
        }
      },
      {
        "json": {
          "id": "137851026084879",
          "name": "The France.",
          "sheet_id": "0",
          "fb_access_token": "EAAICtjCZApBkBO0nuo5C5H7ZBxBpg1amcJGeXD5VZADDesBe32HpwK5gsx8rrlIZAORoAP9vbNupv4uoPOZBhdXwM6jxxpyXpZABznaNFmJZB8E1RcgOuKT7CyxBQZBZB84mx78rdSZC7ZCdklKVKzYPGFOz9BncghrRNwcMiUYNU3On61HNfsGj1fwdrs2y0kDH6ebBAkSNBIJHKFx6U0ZD",
          "Db_link": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?gid=0#gid=0"
        }
      }
    ],
    "[VBI]": [
      {
        "json": {
          "id": "278422248681530",
          "name": "OpenEdu",
          "sheet_id": "1956435897",
          "fb_access_token": "EAAICtjCZApBkBO3FRZCuNfKDGwSlYDyq43KEZAVTfhe0PgZCP50m6U5ZC9TT4AbL2yajN2CDKNWKBDA7bbaqBRGg2Xczm2H511wTAAExBTqoUmnSlzU78ZCIk9CXVcePaM22LyLitpv6cylU0TNav6LKxYHZCqK8fWxEE8KxV4faE1XkIh5NpluWoHjGyttOiFE8YLV9EXa2n3SkOXtAjyxbpBZADfmuZAc40z19MD2gZD",
          "Db_link": "https://docs.google.com/spreadsheets/d/1eQar2hOIhGxyeCFvXcoxe3yNgwtXHe6kfMbN32hPMSo/edit?gid=1956435897#gid=1956435897"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-03-18T10:19:15.101Z",
      "updatedAt": "2025-03-18T10:19:15.101Z",
      "id": "sjcuIGR9qOjQG4Mu",
      "name": "SOCIAL"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-08T07:27:50.000Z",
  "versionId": "12fd8064-dbd7-4fec-a19f-fd272ae4829d"
}