workflows/BTRzC5ntRYhBPJeD.json
{
  "active": false,
  "connections": {
    "Check have File image": {
      "main": [
        [
          {
            "node": "Get file image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Facebook": {
      "main": [
        [
          {
            "node": "Check have File image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesage-Success": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photos-Success": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram-Photos": {
      "main": [
        [
          {
            "node": "Get-post-link-telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-post-link-telegram": {
      "main": [
        [
          {
            "node": "Photos-Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram-message": {
      "main": [
        [
          {
            "node": "Get-post-link-telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file image": {
      "main": [
        [
          {
            "node": "Telegram-Photos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-post-link-telegram1": {
      "main": [
        [
          {
            "node": "Mesage-Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T09:45:59.708Z",
  "id": "BTRzC5ntRYhBPJeD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Execute-Telegram",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c6dd408-71f1-45b2-ac0b-2df6b179192f",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "43f106c4-4649-4b1d-ba03-d4106e6fd690",
              "leftValue": "={{ $json.db_facebook_status }}",
              "rightValue": "Mới",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4ac57e1e-7e0c-47f1-afbd-222c80943cc6",
      "name": "Check have File image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        660
      ]
    },
    {
      "parameters": {},
      "id": "1f57c3ea-c762-4093-b5d1-9000c03779bc",
      "name": "Execute Workflow Facebook",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã có lỗi",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "be0f4d27-7322-4e5d-95fb-737527bcae1a",
      "name": "Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã xuất bản",
              "type": "string"
            },
            {
              "id": "4a09816b-d1b7-49aa-b770-269cf6a1c89a",
              "name": "result_linkPost",
              "value": "={{ $json.link_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b6e1ea0-b17f-4580-8ae9-72e0879b3297",
      "name": "Mesage-Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        1080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã xuất bản",
              "type": "string"
            },
            {
              "id": "4a09816b-d1b7-49aa-b770-269cf6a1c89a",
              "name": "result_linkPost",
              "value": "={{ $json.link_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "40214c11-37e1-4ca2-befd-52d478623263",
      "name": "Photos-Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6533ca17-17bb-4a35-8c94-e06e19f77684",
              "leftValue": "={{ $json.result_status }}",
              "rightValue": "Đã xuất bản",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c2bdfd0b-c821-42b1-b2db-ddd276e0f846",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        720
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1002439189203",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $json.db_content }}",
          "parse_mode": "HTML",
          "message_thread_id": 2
        }
      },
      "id": "f8f520d7-4872-48d5-b693-5e35eb50701d",
      "name": "Telegram-Photos",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        620
      ],
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra input có link post ha không.\nlet linkPost;\n\nif($input.first().json.result) {\n linkPost = `https://t.me/${$input.first().json.result.chat.username}/${$input.first().json.result.message_thread_id}/${$input.first().json.result.message_id}`;\n}else{\n throw new Error('Giá trị không hợp lệ!');\n}\n\nif($input.first().json.statusCode === 400){\n  return linkPost\n};\n\nconst DB = $('Check have File image').first().json.db_postLink;\n\nif(DB){\n  linkPost = linkPost + \",\\n \\n\" + DB;\n}\n\nconst updatedInput = $input.all().map(item => {\n  item.json.link_post = linkPost;  // Thêm trường link vào mỗi đối tượng json\n  return item;\n});\nreturn updatedInput;"
      },
      "id": "a7284d7e-0666-4ae1-86d1-a63e51c8cbf9",
      "name": "Get-post-link-telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        600
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-1002439189203",
        "text": "={{ $json.db_content }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "message_thread_id": 2
        }
      },
      "id": "505237bc-fac4-4208-bed5-517d2dff16bb",
      "name": "Telegram-message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        1340
      ],
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.db_imageLink }}",
          "mode": "url"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "c5bf13f7-4488-44f7-9324-d2e8857ce3ab",
      "name": "Get file image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OfHZDGa8nJdeX5vI",
          "name": "phaplv@gfigroup"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Link bài viết": "={{ $json.result_linkPost }}",
            "Trạng thái telegram": "={{ $json.result_status }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6b2288e0-476c-4900-90d8-c38396137e37",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2540,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Trạng thái telegram": "={{ $json.result_status }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái intagram",
              "displayName": "Trạng thái intagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "63df18bf-3674-40e4-bc51-e9e6c002bbf6",
      "name": "Telegram Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2540,
        860
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.db_row }}",
            "Trạng thái telegram": "Đang thực hiện"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái intagram",
              "displayName": "Trạng thái intagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "1c498feb-ae3d-4908-a8aa-5c4c890190b0",
      "name": "Processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra input có link post ha không.\nlet linkPost;\nconsole.log((\"HELO\"))\nconsole.log($input.first().json)\n\nif($input.first().json.result) {\n linkPost = `https://t.me/${$input.first().json.result.chat.username}/${$input.first().json.result.message_thread_id}/${$input.first().json.result.message_id}`;\n}else{\n throw new Error('Giá trị không hợp lệ!');\n}\n\nif($input.first().json.statusCode === 400){\n  return linkPost\n};\n\nconst DB = $('Check have File image').first().json.db_postLink;\n\nif(DB){\n  linkPost = linkPost + \",\\n \\n\" + DB;\n}\n\nconst updatedInput = $input.all().map(item => {\n  item.json.link_post = linkPost;  // Thêm trường link vào mỗi đối tượng json\n  return item;\n});\nreturn updatedInput;"
      },
      "id": "62012f90-3d2e-4716-8eb0-48bbb1e7a0d1",
      "name": "Get-post-link-telegram1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1060
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-18T10:19:15.101Z",
      "updatedAt": "2025-03-18T10:19:15.101Z",
      "id": "sjcuIGR9qOjQG4Mu",
      "name": "SOCIAL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-31T10:28:09.000Z",
  "versionId": "e612ca9b-a587-4829-b05a-87696c723238"
}