workflows/ds82TPFexO9r9oev.json
{
  "active": false,
  "connections": {
    "X": {
      "main": [
        [
          {
            "node": "Get-post-link-X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-post-link-X": {
      "main": [
        [
          {
            "node": "Photos-Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Added Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X1": {
      "main": [
        [
          {
            "node": "Get-post-link-X1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-post-link-X1": {
      "main": [
        [
          {
            "node": "Message-Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "X Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photos-Success": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message-Success": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckImage": {
      "main": [
        [
          {
            "node": "Procesing",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credential": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file image": {
      "main": [
        [
          {
            "node": "Post image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Publish Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Content": {
      "main": [
        [
          {
            "node": "Update Publish Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Publish Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check have File image": {
      "main": [
        [
          {
            "node": "Procesing1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Added Access Token FB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Publish Success": {
      "main": [
        [
          {
            "node": "Return Success update1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed1": {
      "main": [
        [
          {
            "node": "Telegram-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Success update1": {
      "main": [
        [
          {
            "node": "Telegram-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Publish Failed": {
      "main": [
        [
          {
            "node": "Return Success update1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post mutil images": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Added Access Token FB": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get file image1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get file image1": {
      "main": [
        [
          {
            "node": "Post mutil images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Mutilple": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get file image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Post mutilple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post image": {
      "main": [
        [
          {
            "node": "Post one image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post one image": {
      "main": [
        [
          {
            "node": "Update Publish Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get-post-facebook-link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image Failed": {
      "main": [
        [
          {
            "node": "Telegram-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image Failed1": {
      "main": [
        [
          {
            "node": "Telegram-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post mutilple": {
      "main": [
        [
          {
            "node": "Update Publish Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get-post-facebook-link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Publish Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fb Success": {
      "main": [
        [
          {
            "node": "Update Link Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-post-facebook-link": {
      "main": [
        [
          {
            "node": "Fb Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Link Post": {
      "main": [
        [
          {
            "node": "Telegram-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Post image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check_Mutilple",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed2": {
      "main": [
        [
          {
            "node": "Telegram-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check have File image1": {
      "main": [
        [],
        [
          {
            "node": "Post Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Added Access Token": {
      "main": [
        [
          {
            "node": "Check have File image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T06:57:09.100Z",
  "id": "ds82TPFexO9r9oev",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Excute-Twitter(x)",
  "nodes": [
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "6db9e558-9304-473b-8399-7a381131111c",
      "name": "X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1440,
        340
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "AVBqb2AwMdsCG5oJ",
          "name": "X account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra input có link post ha không.\nlet linkPost;\n\nif($input.first().json.id) {\n linkPost = `https://twitter.com/phapdev/status/${$input.first().json.id}`;\n}else{\n throw new Error('Giá trị không hợp lệ!');\n}\n\nif($input.first().json.statusCode === 400){\n  return linkPost\n};\n\nconst DB = $('CheckImage').first().json.db_postLink;\n\nif(DB){\n  linkPost = linkPost + \",\\n \\n\" + DB;\n}\n\nconst updatedInput = $input.all().map(item => {\n  item.json.link_post = linkPost;  // Thêm trường link vào mỗi đối tượng json\n  return item;\n});\n//https://twitter.com/{username}/status/{tweet_id}\nreturn updatedInput;"
      },
      "id": "1643420d-2352-4720-9b03-6ded1f952c3e",
      "name": "Get-post-link-X",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        320
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "2090c26a-5cb8-4982-abeb-a52186c34995",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        4220
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.db_imageLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "a6b498fe-6779-47dd-ae7d-fe5896e59224",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        980,
        260
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OfHZDGa8nJdeX5vI",
          "name": "phaplv@gfigroup"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AAAAAAAAAAAAAAAAAAAAAH8L0AEAAAAADQDjffE%2BkQB15VMhcNHZmrWWB%2Bk%3DsrvX8TvtpKrI6RKbMNlJ7d0VuM43GpNCEobvmNE34Ke7Hzszas"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media",
              "value": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1a3200ae-798a-45db-8053-2d231719f58b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        340
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "AVBqb2AwMdsCG5oJ",
          "name": "X account"
        },
        "twitterOAuth1Api": {
          "id": "1vRLpv31WgXgL1m7",
          "name": "X OAuth account"
        },
        "oAuth1Api": {
          "id": "i7SLquudKg6xiAxK",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{ $json.db_content }}",
        "additionalFields": {}
      },
      "id": "36aaa4ee-fea5-4e6c-8f0a-03bde77b1f45",
      "name": "X1",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        740,
        660
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "kwDt0XSqP0qkqvk1",
          "name": "phapdev"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('CheckImage').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã có lỗi",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fa194e6d-9824-4e75-9953-a8013db46d02",
      "name": "Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã xuất bản",
              "type": "string"
            },
            {
              "id": "4a09816b-d1b7-49aa-b770-269cf6a1c89a",
              "name": "result_linkPost",
              "value": "={{ $json.link_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c38cad39-5f6a-4c2f-81f4-91d6b11f6fba",
      "name": "Photos-Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra input có link post ha không.\nlet linkPost;\n\nif($input.first().json.id) {\n linkPost = `https://twitter.com/phapdev/status/${$input.first().json.id}`;\n}else{\n throw new Error('Giá trị không hợp lệ!');\n}\n\nif($input.first().json.statusCode === 400){\n  return linkPost\n};\n\nconst DB = $('CheckImage').first().json.db_postLink;\n\nif(DB){\n  linkPost = linkPost + \",\\n \\n\" + DB;\n}\n\nconst updatedInput = $input.all().map(item => {\n  item.json.link_post = linkPost;  // Thêm trường link vào mỗi đối tượng json\n  return item;\n});\n//https://twitter.com/{username}/status/{tweet_id}\nreturn updatedInput;"
      },
      "id": "38feace3-cc8f-4c8f-9d0f-035da1de333f",
      "name": "Get-post-link-X1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        600
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6533ca17-17bb-4a35-8c94-e06e19f77684",
              "leftValue": "={{ $json.result_status }}",
              "rightValue": "Đã xuất bản",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "5f5486be-72e9-472f-8e47-4eeb7c87d654",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('CheckImage').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã xuất bản",
              "type": "string"
            },
            {
              "id": "4a09816b-d1b7-49aa-b770-269cf6a1c89a",
              "name": "result_linkPost",
              "value": "={{ $json.link_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1422d30-e008-4a5a-9605-8bf30b971135",
      "name": "Message-Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Link bài viết": "={{ $json.result_linkPost }}",
            "Trạng thái twitter": "={{ $json.result_status }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "5dd2b69f-38e7-4937-b1ea-6fc46f4b23ee",
      "name": "X Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2620,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Trạng thái twitter": "={{ $json.result_status }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "9e671f9c-cc8e-48f1-be30-044d8fa7125c",
      "name": "X Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2620,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.db_row }}",
            "Trạng thái twitter": "Đang thực hiện"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "b880aff7-247d-4ca5-9eb1-12f5404847eb",
      "name": "Procesing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb2db085-3647-4390-a0a7-5ea4363bfb37",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": "drive.google.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e250a86e-8c1d-4664-84e2-582c25470203",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.db_imageLink }}",
        "options": {}
      },
      "id": "550abdbf-6c81-4860-b48c-ae76ad06a0c7",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca8807e6-2829-4645-80c6-2a6faedd375f",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        400
      ],
      "id": "6d076bdd-8cb0-4230-a232-95ddfca85fea",
      "name": "CheckImage",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.twitter.com/2/users/by/username/phapdev",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "74db813b-1704-47f3-b15a-7b3f5efe442b",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VEaZXIPr0WMgd57W",
          "name": "PHAPDEV-X"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=access_token_bearer",
              "value": "=Bearer AAAAAAAAAAAAAAAAAAAAAH8L0AEAAAAARF7p%2BVYwwjrSGghkuiiro2iKX%2Bs%3DnoCjoJSTiIczPlnR4iNukF2YuSHFBmoKlHwJGnjS68AsYY6baZ",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "access_token",
              "value": "=1687465987296436225-5xsT6Qhf5OinHnZsAutSUuNW8N8xQR",
              "type": "string"
            },
            {
              "id": "4a09816b-d1b7-49aa-b770-269cf6a1c89a",
              "name": "token_secret",
              "value": "=xQDzxIXgHKaEFpRoYjkDNCR3B68faF4NGAF53s7NWuu9v",
              "type": "string"
            },
            {
              "id": "8f30428b-0cdd-4b59-9889-f53ac3700892",
              "name": "client_id",
              "value": "TkVacUZYQkl0UWRWOTEyMzRycFY6MTpjaQ",
              "type": "string"
            },
            {
              "id": "4a2c69e9-69a4-4b9e-aa0f-c288a414fcc1",
              "name": "client_secret",
              "value": "alBX5Ke7j3amS2ltF5gDx3PsSjz5moegR4_vX0QgcxlG5ERj2u",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c063372e-1337-408d-b860-c0d28d00aae9",
      "name": "Credential",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -40
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.db_imageLink }}",
          "mode": "url"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "d432fdd4-2c19-4bea-9fc4-68930b31ab13",
      "name": "Get file image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        1660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OfHZDGa8nJdeX5vI",
          "name": "phaplv@gfigroup"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.db_fanpage_id }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.db_content }}"
            },
            {
              "name": "published",
              "value": "true"
            },
            {
              "name": "access_token",
              "value": "EAAICtjCZApBkBO0nuo5C5H7ZBxBpg1amcJGeXD5VZADDesBe32HpwK5gsx8rrlIZAORoAP9vbNupv4uoPOZBhdXwM6jxxpyXpZABznaNFmJZB8E1RcgOuKT7CyxBQZBZB84mx78rdSZC7ZCdklKVKzYPGFOz9BncghrRNwcMiUYNU3On61HNfsGj1fwdrs2y0kDH6ebBAkSNBIJHKFx6U0ZD"
            }
          ]
        },
        "options": {}
      },
      "id": "b6387c77-2924-42ff-a614-62ea37309ebe",
      "name": "Post Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        2480
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c6dd408-71f1-45b2-ac0b-2df6b179192f",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b66e9835-9128-4f75-b140-88c54d889dbf",
      "name": "Check have File image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        1660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "[VBI] - Social Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Check have File image').item.json.db_sheet_link }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Check have File image').item.json.db_row }}",
            "Trạng thái facebook": "Đã xuất bản"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "3504a01e-c0ce-4093-a443-bb30b45f11a4",
      "name": "Update Publish Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1920,
        2300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## [B-1]\n## Chuyển trạng thái: `Đang thực hiện`\n",
        "height": 234.22231998097533,
        "width": 513.7978914853757,
        "color": 4
      },
      "id": "63279f2b-d03b-4dfb-9e76-434cb452304d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        1280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [B-2b]\n## Trường hợp đăng một ảnh\n",
        "height": 736.0379918035019,
        "width": 788.3447442843831,
        "color": 4
      },
      "id": "ef80c482-b35a-437f-a70e-5986502873de",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        1520
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [B-2c]\n## Đăng bài chỉ với nội dung\n",
        "height": 314.57532808037166,
        "width": 785.0198750729403,
        "color": 4
      },
      "id": "c1d155c3-db89-49da-a029-662639b69c84",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        2280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [B-3]\n## Cập nhật trạng thái \n- Thành công: `Đã xuất bản`\n- Thất bại: `Đã có lỗi`\n",
        "height": 315.1392333415369,
        "width": 1483.992791887354,
        "color": 4
      },
      "id": "77f84038-4ce2-48d5-8d45-9d8c7bbd239b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        2280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [B-4]\n## Xử lý lấy link bài vừa đăng",
        "height": 447.05625278579384,
        "width": 785.2532375316619,
        "color": 5
      },
      "id": "075aec62-1ee1-4ca8-95c8-e28992fbeea7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        2600
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "message",
              "value": "=Đã xảy ra lỗi trong quá trình tạo link bài viết!\nSheet: {{ $('Check have File image').item.json.db_sheet_link }} - Hàng: {{ $('Check have File image').item.json.db_row }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "10aa8373-ae33-426c-9117-07fffdb472d3",
      "name": "Failed1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        2480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "message",
              "value": "=Đã xuất bản nền tảng Facebook Fanpage\n\nSheet: {{ $('Check have File image').item.json.db_sheet_link }} - Hàng: {{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "29eb1f1b-de72-49fb-a60c-dfb2ec24f107",
      "name": "Return Success update1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        2280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "[VBI] - Social Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Check have File image').item.json.db_sheet_link }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Check have File image').item.json.db_row }}",
            "Trạng thái facebook": "Đã có lỗi"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "c9e431e3-5a7d-4734-972f-ab0cacf69b56",
      "name": "Update Publish Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1920,
        2460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconsole.log($('Check have File image').first().json)\nconst db_imageLink = $('Check have File image').first().json.db_imageLink;\nconst dataArray = db_imageLink.split(\",\").map(item => item.trim());\nfor (const item of $input.all()) {\n  item.json.imageArr = dataArray;\n}\n\nreturn $input.all()"
      },
      "id": "2a684510-6769-4164-98a0-c441fb9c6e66",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.db_fanpage_id }}/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.fb_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "published",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "22aae7ce-69d4-4c97-b024-e061e760e85c",
      "name": "Post mutil images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        1640
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "901e1e57-c0ae-4fc9-9e29-ad3bfa5d781e",
              "name": "fb_access_token",
              "value": "EAAICtjCZApBkBO0nuo5C5H7ZBxBpg1amcJGeXD5VZADDesBe32HpwK5gsx8rrlIZAORoAP9vbNupv4uoPOZBhdXwM6jxxpyXpZABznaNFmJZB8E1RcgOuKT7CyxBQZBZB84mx78rdSZC7ZCdklKVKzYPGFOz9BncghrRNwcMiUYNU3On61HNfsGj1fwdrs2y0kDH6ebBAkSNBIJHKFx6U0ZD",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "11c011ed-84ad-4407-a6ec-eeeb9348ae76",
      "name": "Added Access Token FB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        1660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "imageArr",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "30e49f5e-1de3-4a56-b6bb-026038dcaaa7",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1800,
        1640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.imageArr }}",
          "mode": "url"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "ecd357ec-ec44-4719-84ea-7eff0989e818",
      "name": "Get file image1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2000,
        1640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OfHZDGa8nJdeX5vI",
          "name": "phaplv@gfigroup"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55727c40-f462-4418-959c-ec59b057d5d9",
              "name": "media_fbid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8fe0bec4-566b-4257-afbb-42272cb86aff",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        1940
      ],
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "attached_media",
        "options": {}
      },
      "id": "e1d7468e-8e53-4074-bc5f-ce1f8cfcd5e2",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1800,
        1940
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd4abcf5-5d8f-4c62-b42d-f9418bad5467",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": ",",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "babc1151-c0b8-444f-b251-fb527e618d3b",
      "name": "Check_Mutilple",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        1660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "9d30cb61-c6a7-4051-a95c-f0c51dace5ec",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2000,
        1940
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [B-2a]\n## Trường hợp đăng bài kèm nhiều ảnh\n",
        "height": 733.8837315619983,
        "width": 1481.9765271803617,
        "color": 4
      },
      "id": "4776cc57-f7f4-4870-ad25-1043c4d730d8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        1524.1996858857765
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.db_fanpage_id }}/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.fb_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "published",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "cd937a00-3871-4fa8-8550-b47a5b1dbb34",
      "name": "Post image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        1860
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Check have File image').item.json.db_fanpage_id }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Added Access Token FB').item.json.fb_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('If').item.json.db_content }}"
            },
            {
              "name": "published",
              "value": "true"
            },
            {
              "name": "attached_media",
              "value": "=[{\"media_fbid\": \"{{ $json.id }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "ee90b9ce-38c5-460b-9923-ff224c9dfc7e",
      "name": "Post one image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        1860
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Trả lỗi Lấy ảnh\n",
        "width": 609.3543990893118,
        "color": 3
      },
      "id": "91dc52cb-ba2a-4ed2-a1a9-cb3908fcd07e",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        2080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã xảy ra lỗi trong quá trình lấy ảnh!\nLỗi Workflow: https://pip-tf-automation.southeastasia.cloudapp.azure.com/workflow/rwIdreE6MzTMJxFt\n\nSheet: {{ $('Check have File image').item.json.db_sheet_link }} - Hàng: {{ $('Check have File image').item.json.db_row }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "94a139cb-4cbd-489e-b297-98966751b1ee",
      "name": "Get image Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        2120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Trả lỗi Post ảnh",
        "height": 553.8372404334702,
        "width": 191.07208855997095,
        "color": 3
      },
      "id": "79e6407d-94cf-4ddc-a701-9fad871e36e6",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2780,
        1620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "message",
              "value": "=Đã xảy ra lỗi trong quá trình post nhiều ảnh lên FB!\nLỗi Workflow: https://pip-tf-automation.southeastasia.cloudapp.azure.com/workflow/rwIdreE6MzTMJxFt\n\nSheet: {{ $('Check have File image').item.json.db_sheet_link }} - Hàng: {{ $('Check have File image').item.json.db_row }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c52e6f3-3efa-49d2-ae20-07b85d028467",
      "name": "Get image Failed1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2820,
        1860
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.db_fanpage_id }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.fb_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.db_content }}"
            },
            {
              "name": "published",
              "value": "true"
            },
            {
              "name": "attached_media",
              "value": "={{ $json.attached_media }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbbf6013-e214-4a3b-b82d-6214ae08469e",
      "name": "Post mutilple",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        1940
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Check have File image').item.json.db_sheet_link }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Check have File image').item.json.db_row }}",
            "Link bài viết facebook": "={{ $json.link_post }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết facebook",
              "displayName": "Link bài viết facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link bài viết twitter",
              "displayName": "Link bài viết twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết telegram",
              "displayName": "Link bài viết telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết linkedIn",
              "displayName": "Link bài viết linkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "ccade85c-686f-4835-a7ff-89b1ae79ad27",
      "name": "Fb Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        2700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra input có link post ha không.\nlet linkPost;\nconsole.log(\"ID:\", $input.first().json.id)\n\nif($input.first().json.id) {\n linkPost = `https://www.facebook.com/${$input.first().json.id}`;\n}else{\n throw new Error('Giá trị không hợp lệ!');\n}\n\n// const DB = $('Check have File image').first().json.db_postLink ? $('Check have File image').first().json.db_postLink : false;\n\n// if(DB){\n//   linkPost = linkPost + \",\\n \\n\" + DB;\n// }\n\nconst updatedInput = $input.all().map(item => {\n  item.json.link_post = linkPost;\n  return item;\n});\n\n\nreturn updatedInput;"
      },
      "id": "cd73fcd3-09f9-4588-8d39-4f48d08108d1",
      "name": "Get-post-facebook-link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        2820
      ],
      "notesInFlow": false,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "5943565043",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "732e626d-b5c2-475f-9c5b-f1358b028698",
      "name": "Telegram-message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2820,
        2900
      ],
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Thông báo",
        "height": 446.02658151117896,
        "width": 1485.3360713653544,
        "color": 4
      },
      "id": "3cd2ff54-cce7-4d56-adba-616683e914f7",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        2600
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "message",
              "value": "=Link bài viết đã tạo: {{ $json['Link bài viết facebook'] }}\n\nSheet: {{ $('Check have File image').item.json.db_sheet_link }} - Hàng: {{ $('Check have File image').item.json.db_row }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "47cb663d-31a5-48bb-9fa2-2caeed09788e",
      "name": "Update Link Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        2700
      ],
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.db_sheet_link }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.db_row }}",
            "Trạng thái twitter": "Đang thực hiện"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "f4c9eda3-04df-4068-9890-e588271b850d",
      "name": "Procesing1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        940,
        1400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.db_imageLink }}",
        "options": {}
      },
      "id": "9c7f643d-abd1-41dd-bb28-4f7b62511a5e",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        1860
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb2db085-3647-4390-a0a7-5ea4363bfb37",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": "drive.google.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23dc79a8-94a5-46c4-88d4-fd73ee6303ab",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        1660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "message",
              "value": "=Đã xảy ra lỗi trong quá trình tạo link bài viết!\nSheet: {{ $('Check have File image').item.json.db_sheet_link }} - Hàng: {{ $('Check have File image').item.json.db_row }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b9d38cc7-d1e9-47ff-b95c-bbeca946517d",
      "name": "Failed2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        2900
      ],
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c6dd408-71f1-45b2-ac0b-2df6b179192f",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "50d0ca6d-12a3-458b-9b68-a3a60bab5a8d",
      "name": "Check have File image1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        4220
      ]
    },
    {
      "parameters": {
        "content": "## [B-2b]\n## Trường hợp đăng một ảnh\n",
        "height": 736.0379918035019,
        "width": 788.3447442843831,
        "color": 4
      },
      "id": "8fc3d594-15ca-4041-b8e0-d6e6e176cbd9",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        4080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.db_fanpage_id }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.db_content }}"
            },
            {
              "name": "published",
              "value": "true"
            },
            {
              "name": "access_token",
              "value": "EAAICtjCZApBkBO0nuo5C5H7ZBxBpg1amcJGeXD5VZADDesBe32HpwK5gsx8rrlIZAORoAP9vbNupv4uoPOZBhdXwM6jxxpyXpZABznaNFmJZB8E1RcgOuKT7CyxBQZBZB84mx78rdSZC7ZCdklKVKzYPGFOz9BncghrRNwcMiUYNU3On61HNfsGj1fwdrs2y0kDH6ebBAkSNBIJHKFx6U0ZD"
            }
          ]
        },
        "options": {}
      },
      "id": "5f66c0ba-4cdf-47a5-9f62-569719ead320",
      "name": "Post Content1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        4560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "901e1e57-c0ae-4fc9-9e29-ad3bfa5d781e",
              "name": "fb_access_token",
              "value": "EAAICtjCZApBkBO0nuo5C5H7ZBxBpg1amcJGeXD5VZADDesBe32HpwK5gsx8rrlIZAORoAP9vbNupv4uoPOZBhdXwM6jxxpyXpZABznaNFmJZB8E1RcgOuKT7CyxBQZBZB84mx78rdSZC7ZCdklKVKzYPGFOz9BncghrRNwcMiUYNU3On61HNfsGj1fwdrs2y0kDH6ebBAkSNBIJHKFx6U0ZD",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "63295509-a796-41ac-8af5-3afeabc56d08",
      "name": "Added Access Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        4220
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "db_content": "🔥 Tom và Jerry - Cuộc Đua Kỳ Thú Giữa Mèo và Chuột 🔥\n\nCuộc đối đầu không hồi kết giữa chú mèo Tom và chú chuột Jerry đã mang lại tiếng cười cho nhiều thế hệ khán giả. Những trò nghịch ngợm và mưu mẹo của họ luôn khiến người xem không thể rời mắt.​\n\n💬 Bạn yêu thích khoảnh khắc nào nhất giữa Tom và Jerry?\n\n#TomAndJerry #HoạtHìnhKinhĐiển #HàiHước #CuộcĐuaKỳThú",
          "db_platform": "Twitter(x)",
          "db_facebook_status": "Mới",
          "db_postTime": "04/04/2025 0:00:00",
          "db_owner": "Phap Luong",
          "db_imageLink": "https://drive.google.com/file/d/17PKz-BkVgoy_RpTK0u6egPc6WkiBmdVE/view?usp=sharing",
          "db_postLink": "https://www.facebook.com/137851026084879_122190023126091220,\n \nhttps://www.facebook.com/137851026084879_122189986550091220",
          "db_totalReact": "",
          "db_priority": "High Priority",
          "db_row": "2",
          "db_check": "true",
          "formatPostime": "2025-04-04T00:00:00.000+07:00",
          "db_linkedIn_status": null,
          "db_twitter_status": null,
          "db_telegram_status": "Mới",
          "db_sheet_link": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?gid=1501588972#gid=1501588972",
          "db_fanpage_id": "278422248681530"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-18T10:19:15.101Z",
      "updatedAt": "2025-03-18T10:19:15.101Z",
      "id": "sjcuIGR9qOjQG4Mu",
      "name": "SOCIAL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-04-04T09:36:21.000Z",
  "versionId": "5abaa08e-9cb6-4eef-8bb2-367046996d3a"
}