workflows/ds82TPFexO9r9oev.json
{
  "active": false,
  "connections": {
    "X": {
      "main": [
        [
          {
            "node": "Get-post-link-X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-post-link-X": {
      "main": [
        [
          {
            "node": "Photos-Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X1": {
      "main": [
        [
          {
            "node": "Get-post-link-X1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-post-link-X1": {
      "main": [
        [
          {
            "node": "Message-Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "X Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photos-Success": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message-Success": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T06:57:09.100Z",
  "id": "ds82TPFexO9r9oev",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Excute-Twitter(x)",
  "nodes": [
    {
      "parameters": {
        "content": "# Twitter\n\n",
        "height": 479.58039887862253,
        "width": 1452.1806107425386,
        "color": 7
      },
      "id": "4ea4f7d0-46c4-4945-ae3b-45f6c83ff061",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        280
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "6db9e558-9304-473b-8399-7a381131111c",
      "name": "X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1300,
        340
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "AVBqb2AwMdsCG5oJ",
          "name": "X account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra input có link post ha không.\nlet linkPost;\n\nif($input.first().json.id) {\n linkPost = `https://twitter.com/phapdev/status/${$input.first().json.id}`;\n}else{\n throw new Error('Giá trị không hợp lệ!');\n}\n\nif($input.first().json.statusCode === 400){\n  return linkPost\n};\n\nconst DB = $('Check Image').first().json.db_postLink;\n\nif(DB){\n  linkPost = linkPost + \",\\n \\n\" + DB;\n}\n\nconst updatedInput = $input.all().map(item => {\n  item.json.link_post = linkPost;  // Thêm trường link vào mỗi đối tượng json\n  return item;\n});\n//https://twitter.com/{username}/status/{tweet_id}\nreturn updatedInput;"
      },
      "id": "1643420d-2352-4720-9b03-6ded1f952c3e",
      "name": "Get-post-link-X",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        320
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "2090c26a-5cb8-4982-abeb-a52186c34995",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        260,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca8807e6-2829-4645-80c6-2a6faedd375f",
              "leftValue": "={{ $json.db_imageLink }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        500
      ],
      "id": "6d076bdd-8cb0-4230-a232-95ddfca85fea",
      "name": "Check Image"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.db_imageLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "a6b498fe-6779-47dd-ae7d-fe5896e59224",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        840,
        340
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OfHZDGa8nJdeX5vI",
          "name": "phaplv@gfigroup"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AAAAAAAAAAAAAAAAAAAAAH8L0AEAAAAADQDjffE%2BkQB15VMhcNHZmrWWB%2Bk%3DsrvX8TvtpKrI6RKbMNlJ7d0VuM43GpNCEobvmNE34Ke7Hzszas"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media",
              "value": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1a3200ae-798a-45db-8053-2d231719f58b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        340
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "AVBqb2AwMdsCG5oJ",
          "name": "X account"
        },
        "twitterOAuth1Api": {
          "id": "1vRLpv31WgXgL1m7",
          "name": "X OAuth account"
        },
        "oAuth1Api": {
          "id": "i7SLquudKg6xiAxK",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{ $json.db_content }}",
        "additionalFields": {}
      },
      "id": "36aaa4ee-fea5-4e6c-8f0a-03bde77b1f45",
      "name": "X1",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        820,
        640
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "kwDt0XSqP0qkqvk1",
          "name": "phapdev"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check Image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã có lỗi",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fa194e6d-9824-4e75-9953-a8013db46d02",
      "name": "Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check have File image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã xuất bản",
              "type": "string"
            },
            {
              "id": "4a09816b-d1b7-49aa-b770-269cf6a1c89a",
              "name": "result_linkPost",
              "value": "={{ $json.link_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c38cad39-5f6a-4c2f-81f4-91d6b11f6fba",
      "name": "Photos-Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Kiểm tra input có link post ha không.\nlet linkPost;\n\nif($input.first().json.id) {\n linkPost = `https://twitter.com/phapdev/status/${$input.first().json.id}`;\n}else{\n throw new Error('Giá trị không hợp lệ!');\n}\n\nif($input.first().json.statusCode === 400){\n  return linkPost\n};\n\nconst DB = $('Check Image').first().json.db_postLink;\n\nif(DB){\n  linkPost = linkPost + \",\\n \\n\" + DB;\n}\n\nconst updatedInput = $input.all().map(item => {\n  item.json.link_post = linkPost;  // Thêm trường link vào mỗi đối tượng json\n  return item;\n});\n//https://twitter.com/{username}/status/{tweet_id}\nreturn updatedInput;"
      },
      "id": "38feace3-cc8f-4c8f-9d0f-035da1de333f",
      "name": "Get-post-link-X1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        580
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6533ca17-17bb-4a35-8c94-e06e19f77684",
              "leftValue": "={{ $json.result_status }}",
              "rightValue": "Đã xuất bản",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "5f5486be-72e9-472f-8e47-4eeb7c87d654",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a63cb0-916d-47d5-986c-823c68273d53",
              "name": "=row_number",
              "value": "={{ $('Check Image').item.json.db_row }}",
              "type": "string"
            },
            {
              "id": "67165505-49ea-4fa8-aa56-e5234ac932a7",
              "name": "result_status",
              "value": "=Đã xuất bản",
              "type": "string"
            },
            {
              "id": "4a09816b-d1b7-49aa-b770-269cf6a1c89a",
              "name": "result_linkPost",
              "value": "={{ $json.link_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1422d30-e008-4a5a-9605-8bf30b971135",
      "name": "Message-Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Link bài viết": "={{ $json.result_linkPost }}",
            "Trạng thái twitter": "={{ $json.result_status }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "5dd2b69f-38e7-4937-b1ea-6fc46f4b23ee",
      "name": "X Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2620,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Trạng thái twitter": "={{ $json.result_status }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "9e671f9c-cc8e-48f1-be30-044d8fa7125c",
      "name": "X Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2620,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig",
          "mode": "list",
          "cachedResultName": "AutoFLow Social",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 565641174,
          "mode": "list",
          "cachedResultName": "The France.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WGigLC-lS3MfP4TQi4dLO8sY5MQaBN692Fem58aDyig/edit#gid=565641174"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.db_row }}",
            "Trạng thái twitter": "Đang thực hiện"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lịch đăng",
              "displayName": "Lịch đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Độ ưu tiên",
              "displayName": "Độ ưu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nền tảng",
              "displayName": "Nền tảng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Người thực hiện",
              "displayName": "Người thực hiện",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng bài",
              "displayName": "Đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái facebook",
              "displayName": "Trạng thái facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái Linked",
              "displayName": "Trạng thái Linked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái twitter",
              "displayName": "Trạng thái twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái telegram",
              "displayName": "Trạng thái telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lượt tương tác",
              "displayName": "Lượt tương tác",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "b880aff7-247d-4ca5-9eb1-12f5404847eb",
      "name": "Procesing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        840,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEyiqKkPna62stP9",
          "name": "phaplv@gfi"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-31T10:13:22.000Z",
  "versionId": "a690efc7-a641-4049-8c19-7b7164a95501"
}