workflows/DT4MeWfUl9JXnxS6.json
{
  "active": false,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Chat_mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chat_mode": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-18T08:32:15.177Z",
  "id": "DT4MeWfUl9JXnxS6",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "phapdevbot-telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "d5692655-a434-4ed0-ba23-82146819c1da",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -760,
        1040
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "=/image ",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "f844f4ed-1dbc-4ad6-bbe3-a3ae2b2c9039",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        200,
        1060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "20e75296-af08-4ed2-9232-3e1f8542c2e3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        1281.661764705882
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5d1c1e28-7249-4f7f-8f49-0d6bea94fed8",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -400,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "0c4ccefc-ed49-4c13-b57e-c7bb04a1a1a9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "35f68f9d-8e49-404f-8045-d0b5f655674f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "3e87eb9b-0769-44c9-b4b9-6673d04649db",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [
        560,
        780
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2LynzaLOD5WlcYMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "eeaea82a-f876-467c-af9d-7c6301339ede",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        920,
        660
      ],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "1712e679-70eb-4894-a019-eeaa4ff1c25a",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -200,
        1180
      ],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "102b5fb0-7811-4946-aa24-59dedbc07961",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        20,
        1060
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "9ee8873f-4867-4c71-a5ac-795d310c114b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "512x512"
        },
        "requestOptions": {}
      },
      "id": "1fb10cc2-c80b-40c7-961e-36d028587a83",
      "name": "Create an image",
      "type": "n8n-nodes-base.openAi",
      "position": [
        560,
        1060
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2LynzaLOD5WlcYMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b89c5ff4-eda8-444e-aa1f-bd4719cbebef",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        920,
        1360
      ],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "c0d602a5-7d8e-48d5-84c5-c8a34a9aeb1f",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        920,
        1060
      ],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "1h438XDVHwG3CIgr",
          "name": "phapdev_bot"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d3a16f0d-ac58-4682-a2a6-3997218cbfd8",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -580,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "bafd82c2-a3de-4406-a237-f35b8c00c294",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        340
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "558b514c-9088-4221-991c-0dd7156abf3d",
      "name": "Chat_mode1",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1420,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2LynzaLOD5WlcYMY",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "781f0798-bcb7-48c8-85a3-86b43f349a07",
      "name": "Greeting1",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1420,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2LynzaLOD5WlcYMY",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "2cdd160b-f1b5-4fdc-bbfa-f72f5617b019",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        600
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "512x512"
        },
        "requestOptions": {}
      },
      "id": "f33ca815-f998-4fef-8ab4-641fcf8edd66",
      "name": "Create an image1",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1420,
        680
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2LynzaLOD5WlcYMY",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "d9052730-3bcb-4a63-b54c-c8e0abcb8ca8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        80
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "30a96f06-deee-4d57-9e1d-4dab993ac3df",
      "name": "Chat_mode",
      "type": "n8n-nodes-base.openAi",
      "position": [
        560,
        540
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2LynzaLOD5WlcYMY",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-18T08:43:03.859Z",
      "updatedAt": "2025-03-18T08:43:03.859Z",
      "id": "CBQ1lHm5GPEh2KLu",
      "name": "TELEGRAM"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-18T09:03:11.000Z",
  "versionId": "b876df40-ad69-47e5-a4d0-121be05c065a"
}